

 body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  margin-right: 80px;
  padding: 10px;
  background-color: #f0f0f0;;
  /* background-image: url('./image/bg.jpg');
  background-size: cover; */
}

.container {
  display: flex;
  justify-content: center; /* Align containers horizontally with space between */
  align-items: center; /* Stretch containers to equal height */
  max-width: 1000px; /* Adjust the max-width as needed */
  width: 80%; /* Adjust the width as needed */
  margin-top: 190px;
  margin-left: 140px;
}

.title-h2 {
  font-size: 30px;
}

.side-container,
.main-container {
  flex: 0 0 35%; /* Distribute available space equally among side and main containers */
  margin-right: 50px;
  height: 550px; /* Fixed height for all containers */
  
  
}

.side-container {
  background-color: #ffd702;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
 
}

.side-container h2 {
  margin-bottom: 5px;
}

.side-container p {
  margin: 0;
}

.main-container {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

#userData {
  font-weight: bold;
}

#registeredUsersBox {
  /* background-color: pink; */
  background-color: #ffd702;

  padding: 10px;
  border-radius: 8px;
}

#userList {
  list-style: none;
  padding: 0;
  max-height: 390px; /* Adjust based on your needs */
  overflow-y: auto; /* Enables vertical scrolling */
  padding-right: 0px;
  margin-top: -5px;


  
}
/* #userList li:hover {
  background-color: #9eadff;
} */


/* Style scrollbar */
#userList::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
 
}
/* Track */
#userList::-webkit-scrollbar-track {
  background: #bebebe; /* Color of the scrollbar track */
  border-radius: 10px;
 
}

/* Handle */
#userList::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle */
  border-radius: 10px;
  
}

/* Handle on hover */
#userList::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle on hover */
  border-radius: 10px;
}


#userList li {
  /* margin: 20px ; */
  margin-bottom: 10px;
  background-color: #93d4ff;
    /* padding-left: 80px;
    padding-right: 80px; */
    padding-top: 15px;
    padding-bottom: 15px;
   text-align:center;
   border-radius: 5px;


  
}

#notificationContainer {
  background-color: '#ffd702';
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

#notificationContainer h2 {
  margin-bottom: 25px;
}

#notificationContainer p {
  margin: 0;
}

#historyContainer {
  /* background-color: pink; */
  background-color: #ffd702;

  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
/* CSS styles for history item */
#historyContainer li {
  list-style-type: none;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
 background-color: white;
 margin-bottom: 5px;
 height: 46px;
 text-align: center ;
 
 display: flex;
 justify-content: center;
 align-items: center;

 cursor: pointer;
transition: background-color 0.3s ease;

border-radius: 5px;

 
}

#historyContainer li:hover {
  background-color: #9eadff;
}

.history-content {
  margin-bottom: 10px; /* Add margin to separate from the list */
}

#historyList {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* Center the list horizontally */
  /* width: 220px;  */
  
  overflow-y: auto; /* Add vertical scrollbar if content exceeds the maximum height */

}



#historyContainer h2 {
  margin-bottom: 5px;
}

#historyContainer p {
  margin: 0;
}


/* SA SCROLLABLE LIST */

.scrollable-list-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 23px;
  max-height: 440px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrollbar if the content exceeds the container height */
  padding-right: 10px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
/* .scrollable-list-container::-webkit-scrollbar {
  width: 0; 
} */


/* Style scrollbar */
.scrollable-list-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
 
}
/* Track */
.scrollable-list-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
 
}

/* Handle */
.scrollable-list-container::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle */
  border-radius: 10px;
  
}

/* Handle on hover */
.scrollable-list-container::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle on hover */
  border-radius: 10px;
}

.history-list li {
  padding: 10px; /* Add padding to each history item */
  border-bottom: 1px solid #eee; /* Add bottom border to separate items */
}

.history-list li:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}



/* di na lumalabs modal every reload lool */

#modalContainer {
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 600px;
}


.modal button {
  margin-top: 10px;
}

#datetimeContainer {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  position: absolute;
 bottom: 0px;
left: 30px;
}

#fullscreenBtn, #fullscreenImg {
  position: absolute;
  top: 30px;
  right: 30px;
}




.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure the content takes the full height */
  
}

#modalData {
  text-align: left;
  font-size: 29px;
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.clickable-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  height: 35px;
  border-radius: 5px;
  display: flex; /* Use flexbox */
  justify-content: center;
  align-items: center; 

}

/* Hover styles for the clickable item */
.clickable-item:hover {
  background-color: #9eadff;
  color: #333;
}
.scrollable-list-container-notif {
  margin-left: 10px;
  margin-right: 10px;
  max-height: 440px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrollbar if the content exceeds the container height */
  padding-right: 10px;
}

/* Style scrollbar */
.scrollable-list-container-notif::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
 
}
/* Track */
.scrollable-list-container-notif::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
 
}

/* Handle */
.scrollable-list-container-notif::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle */
  border-radius: 10px;
  
}

/* Handle on hover */
.scrollable-list-container-notif::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); /* Color of the scrollbar handle on hover */
  border-radius: 10px;
}

#registrationForm {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
margin-top: 100px;
}

.cameraa {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: gray;
  width: 192px; /* Adjust width as needed */
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-container {
  position: absolute;
  top: 10px;
  left: 10px;
  /* width: 100%;
  text-align: center; */
  width: 190px; /* Adjust width as needed */
  height: 142px; /* Adjust height as needed */
  border: 2px solid black;
}
#video {
  width: 100%;
  max-width: 600px;
}
#result {
  margin-top: 10px;
  text-align: center;
  color: pink;
  display: none;
}


.qr {
  margin-left: -190px;
  background-color:pink;
  margin-right: 20px;
}

.hello{
  background-color: blue;
}

#doneBtn{
  background-color: pink;
  color: pink;
  border: 0px;
  display: none;
}
#qrFileInput {
  background-color: pink;
  color: pink;
  display: none;
}


.logo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

 
 
  width: 280px;
  
}


#startBtn, #stopBtn{
  /* position: absolute;
  top: 80px;
  right: 30px; */
 border-width: 0px;
 /* margin-top: 300px; */
 background-color: white;
 border-radius: 5px;
 font-weight: bold;


  /* width: 200px; */
  /* border-radius: 10px; */
 

 
}

.test-button {
  display: none;
  position: absolute;
  top: 110px;
  left: 620px;
}

.white-bg {
  background-color: rgb(255, 255, 255);
  height: 385px;
  width: 77%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;

}



#logoutBtn {
  position: absolute;
  top: 70px;
  right: 30px;
}



.ride-detail {
  font-size: 16px;
  color: black;
  font-size: 40px;
 padding-bottom: 20px;
  font-weight: bold;
}




/* .reportmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.reportmodal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.reportclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.reportclose:hover,
.reportclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

#reportopenModalBtn {
  position: absolute;
  bottom: 0px;
  right: 0px;

}
/* Styles for the first modal */
.reportmodal {
  display: none; /* Hide by default */
  position: fixed; /* Fixed position */
  z-index: 1; /* Set z-index to bring it to the front */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}


#requestListContainer {
  background-color: white;
  padding: 20px
}
#requestListContainer p {
  padding: 10px;
  margin: 0;
}
#requestListContainer p:hover {
 background-color: #93d4ff;
  text-decoration: none;
  cursor: pointer;
}

.report-title {
  text-align: center;
  margin-top: -30px;
}

.reportmodal-content {
  background-color: #ffd702;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  padding-bottom: 100px;
  border: 1px solid #888;
  width: 30%; /* 80% width */
  height: 200px;
  position: relative;
}

/* Styles for the X button in the first modal */
.reportclose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.reportclose:hover,
.reportclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.reportmodal-content p {
  cursor: pointer;
}

/* Styles for the X button in the first modal */
.second-modal-close {
  margin-left: 555px;
  margin-bottom: 30px;

  font-size: 20px;
  cursor: pointer;
}


/* Styles for the second modal */
.second-modal {
  display: none; /* Hide by default */
  position: fixed; /* Fixed position */
  z-index: 2; /* Set z-index higher to bring it above the first modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.second-modal-content {
  background-color: white;
  margin: 15% auto;
  /* padding: 20px; */
  padding-top: 5px;
  padding-bottom: 35px;
  border: 1px solid #888;
  width: 40%;
  height: 30%;
}



.reportdetails {
  background-color:white;
  padding: 20px;
  /* padding-top: 5px; */
  margin-top: 10px;
  border-radius: 5px;
  color: black;
}






/* CSS for the report modal */
.report-modal {
  display: none; /* Hide the report modal by default */
  position: fixed; /* Fixed positioning to keep it above other content */
  z-index: 1001; /* Higher z-index to appear above the second modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.report-modal-content {
  background-color: #cab2b2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative; /* Position relative to allow absolute positioning of close button */
}

/* CSS for the close button inside the report modal */
.report-modal-close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.report-modal-close:hover,
.report-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#reportReason {
  height: 200px;
  width: 99%;
}




/* error modal */


/* Modal Styles */
.errorModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.errormodal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 10%;
}

.errorclose {
  /* color: #aaa;
  font-size: 28px;
  font-weight: bold;

  position: absolute; 
  top: 5px; 
  right: 10px; */

  /* margin-top: 505px;
  margin-right: 410px; */


  color: #aaa;
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2; /* Ensure the close button appears above other content */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




#scanButton {
  border-width: 0px;
 color: black;
  background-color: #ffd702;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}


#closeButton {
  border-width: 0px;
 color: black;
  background-color: #ffd702;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* The Modal (background) */
.kioskmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.kioskmodal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 20%;
  text-align: center;
 border-radius: 10px;

}

/* The Close Button */
.kioskclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.kioskclose:hover,
.kioskclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.kiosktext {
  font-size: 20px;
  color: red;
 padding-top: 40px;
}